*.bin filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.caffemodel filter=lfs diff=lfs merge=lfs -text
*.binaryproto filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# Tensorflow models
*.tfmodel filter=lfs diff=lfs merge=lfs -text

# Git repo will normalize line endings by automatically storing all text based files using Unix style line endings.
# When a Windows user checks out the repo they will get Windows style line endings for all text based files, 
# likewise when a Linux user checks out the repo they will get Unix style line endings.
* text=auto
